body {
    background-color: grey;
    padding: 0;
    margin: 0;
    text-align: center;
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:link {
    text-decoration: none;
    color: #6688CC;
  }

  a:visited {
    text-decoration: none;
    color: #6688CC;
  }

  a:hover {
    text-decoration: none;
    color: #9977AA;
  }



.navigation {
    display: flex;
    background-color: black;
    align-items: center;
}

.navigation h1 {
    color: #FFCC66;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin: 1em;
    display: block;
    color: #6688CC;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-item a:hover {
    color: #9977AA;
}

footer {
    width: 100%;
    background-color:black;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    color: #BB6622;
}

.ships {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.ships img {
    height: 250px;
    margin: 50px;
}